[submodule "mcpelauncher-linker/bionic"]
	path = mcpelauncher-linker/bionic
	url = https://github.com/minecraft-linux/android_bionic.git
[submodule "mcpelauncher-linker/core"]
	path = mcpelauncher-linker/core
	url = https://android.googlesource.com/platform/system/core
[submodule "fake-jni/libunwind"]
	path = fake-jni/libunwind
	url = https://github.com/libunwind/libunwind.git
[submodule "fake-jni/libffi"]
	path = fake-jni/libffi
	url = https://github.com/libffi/libffi.git
[submodule "fake-jni/CX"]
	path = fake-jni/CX
	url = https://github.com/minecraft-linux/CX.git
